.block {
    height: 50px;
    width: 100px;
    border: 1px solid black;
    background: red;
}
.block:hover{
    background: blue;
}

.message {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    padding: 20px 50px;
    transform: translateY(-200px);
    transition: transform 0.5s ease-in;
}
.success {
    background: lightgreen;
    color: darkgreen;
}
.reject {
    background: rgb(214, 95, 86);
    color: rgb(156, 11, 6);
}
.show-message {
    transform: translateY(0);
}
.like {
    fill: rgb(70, 107, 70);
    width: 15px;
}
.like:hover {
    fill: rgb(177, 33, 33);
}
.like--active {
    fill: rgb(233, 117, 64);
}